.container{
    width: 200px;
    height: 100px;
    background-color: red;
}
.inside{ 
    width: 80%;
    height: 50%;
    background-color: blue;
}
/* EM = HERDA O ELEMENTO PAI DO TAMANHO DO ELEMENTO, EQUIVALE A MESMA QUANTIDADE DE PX, 2X O TAMANHO DO ELEMENTO, VAI SER RELATIVO AO TAMANHO DA FONTE DAQUELE ELEMENTO = FONT-SIZE*/
/* REM = RELATIVO AO TAMANHO DA FONTE RAIZ = DO HTML*/
/* VW = RELATIVO A LARGURA DA NOSSA JANELA; 1VW = 1%, 50 VW = 50% */
/* VH = RELATIVO A ALTURA DA NOSSA JANELA;  */
/* VMIN = REFERENTE A MENOR DIMENSÃO ENTRE LARGURA E ALTURA */
/* VMAX = REFERENTE A MAIOR DIMENSÃO ENTRE LARGURA E ALTURA */
